{#
This page renders a query bar for the user to request poems

TODO: extract the base layout from the home and poem page
#}
<html>
	<head>
		<title>Twitter Poem Generator</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="cover-container">
				<div class="masthead"></div>
				<div class="inner cover">
					<h1 class="cover-heading">Twitter Poem Generator</h1>
					{#
						The following part is the main input area
					#}
                    <br><br><br>
					<form role="form" action="/generate" method="post">
						<div class="input-group">
							<input id="query" type="text" name="query" class="form-control" placeholder="enter in a #hashtag and select a poem type"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default" onclick="spinner()">Submit</button>
							</span>
						</div>
                        <div class="control-group">
                          <label class="control-label" for="format">Format</label>
                          <div class="controls">
                            <select id="format" name="format" class="input-xlarge">
                              <option value="0">Haiku</option>
                              <option value="1">Couplet</option>
                              <option value="2">Limerick</option>
                          </select>
                          </div>
                        </div>
					</form>
                    <div style="position: absolute; top:50%; left:50%;" id="loading"></div>
					<p>enter a hashtag and generate a poem</p>
					<div class="row">
						<div class="col-md-4">
							<h2>trending topics</h2>
							<p>
							<ul>
								{% for line in trending %}
								<li><a class="link-list" href="#" onClick='$("#query").val(" {{ line }} ")'> {{ line }} </a></li>
								{% endfor %}
							</ul>
							</p>
						</div>
						<div class="col-md-4">
							<h2>recent poems</h2>
							<div class="list-group">
								<ul>
								{% for line in recent %}
								<li><a href="poem/{{ line.id }}" class="link-list">A {{ line.type }} about {{ line.hashtag }}</a></li>
								{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<h2>top poems</h2>
							<div class="list-group">
								<ul>
								{% for line in top %}
								<li><a href="poem/{{ line.id }}" class="link-list">A {{ line.type }} about {{ line.hashtag }}</a></li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{#
			These are the end of page includes.  This will be placed in
			an includes.html file
		#}

        <script src="/static/javascript/spin.js"></script>
        <script>
            function spinner(){
            var opts = {
              lines: 13, // The number of lines to draw
              length: 20, // The length of each line
              width: 10, // The line thickness
              radius: 30, // The radius of the inner circle
              corners: 1, // Corner roundness (0..1)
              rotate: 0, // The rotation offset
              direction: 1, // 1: clockwise, -1: counterclockwise
              color: '#000', // #rgb or #rrggbb or array of colors
              speed: 1, // Rounds per second
              trail: 60, // Afterglow percentage
              shadow: false, // Whether to render a shadow
              hwaccel: false, // Whether to use hardware acceleration
              className: 'spinner', // The CSS class to assign to the spinner
              zIndex: 2e9, // The z-index (defaults to 2000000000)
              top: 'auto', // Top position relative to parent in px
              left: 'auto' // Left position relative to parent in px
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
            };
        </script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link href="/static/style.css" rel="stylesheet" type="text/css"></link>
		<!--
		<script src="main.js"></script>
		-->
	</body>
</html>
