body {
	font-family: Arial, sans-serif;
	text-align: center;
}
/*
 * a masthead is the spacer to push the page content down
 */
.masthead {
	height: 200px;
}

/*
 * This is the cover container
 */
.cover-container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
/*
 * The generated poem has this style
 */
#output {
	text-align: left;
}

