body {
	font-family: Arial, sans-serif;
	text-align: center;
}
/*
 * a masthead is the spacer to push the page content down
 */
.masthead {
	height: 200px;
}

/*
 * This is the cover container
 */
.cover-container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
/*
 * The generated poem has this style
 */
#output {
	text-align: left;
}

.arrowup{
    background:url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-up-20.png);
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;
    border: none;    
}

.arrowdown{
    background:url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-20.png);
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;    
}
.formHolder {
	width: 150px;
	float:left;
}

.likeForm{
  margin-bottom: 0px;  
}

ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
